# WebSev - Web Server Configuration
# This file is used to configure the web server.

# [Optional] Define the number of workers(threads) to use.
worker_processes auto;

# [Optional] Define the level of logging to use that is displayed in the terminal.
# Levels: debug, info, warn, error
error_log debug;

events {
		# [Optional] Define the maximum number of connections that can be opened by a worker.
    worker_connections 1024;
}

http {
		# Config of one server.
    server {
				# [Required] Define the port to listen on. If not defined, the default is 80.
        listen 80;
				# [Required] Define the server name. This can be a domain or an IP address. If not defined, the default is localhost.
        server_name example.com www.example.com;
				# [Optional] Define the maximum size of the client request body, to this server.
				# If not defined, the default is 1M(1048576).
				client_max_body_size 1000000000;

				# [Optional] Define the root directory of the server. If not defined, the default is ./www.
        root /var/www/html;
				# [Optional] Define the index files to use. If not defined, the default is index.html.
        index index.html index.htm;
				# [Optional] Define the error page to use when a one or a group of errors occurs.
				error_page 404 /404.html;
				# [Optional] Define the location of the error page and some internal configurations.
				location = /404.html {
						internal;
				}

				# Location define the behavior of the server when a request is made, based on the path.
        location / {
            try_files $uri $uri/ =404;
        }

        # Redirection configuration
        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location ~ /\.ht {
            deny all;
        }

				location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
						expires 365d;
				}
    }
}
