error_log info;
http {
	server {
		listen 8080;
		listen 8081;

		server_name example.com www.example.com localhost;
		client_max_body_size 1000000000;
		root www/website;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
			autoindex on;
		}

		location /some-images/ {
				autoindex on;
		}

		location /with-cgi {
				cgi .py /usr/bin/python3;
		}

		location /upload/ {
			limit_except POST;
			upload_store ./www/website/uploads;
		}

		location /dummyfile {
		}

		location /old-page {
				return 301 /new-page;
		}
	}

	server {
		listen 8082;
		server_name example.com www.example.com localhost;
		client_max_body_size 1000000000;
		root www/blog;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
		}

		location /index.html {
		}

		location /about.html {
		}

		location /joe-caione-qO-PIF84Vxg-unsplash.jpg {
		}

		location /mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg {
		}
	}

	server {
		listen 8083;
		server_name example.com www.example.com localhost;
		client_max_body_size 1000000000;
		root www/coffee-shop;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
			autoindex off;
		}

		location /index.html {
		}

		location /fry.png {
		}

		location /styles.css {
		}
	}

	server {
		listen 8084;
		server_name example.com www.example.com localhost;
		client_max_body_size 1000000000;
		root www/js-calculator;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location /404.html {
		}

		location / {
			limit_except GET;
			autoindex off;
		}

		location /index.html {
		}

		location /calculator.js {
		}

		location /styles.css {
		}
	}

	server {
		listen 8085;
		server_name dog.com www.dog.com localhost;
		client_max_body_size 1000000000;
		root www/simple-api;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
		}

		location /index.html {
		}

		location /dog.js {
		}

		location /styles.css {
		}
	}

	server {
		listen 8086;
		server_name dad.com www.dad.com localhost;
		client_max_body_size 10000;
		root www/dad-jokes-api;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
		}

		location /index.html {
		}

		location /joke.js {
		}

		location /styles.css {
		}
	}

	# TODO: specify IP in some server

	server {
		listen 8087;
		server_name insta.com www.insta.com localhost;
		client_max_body_size 2000000;
		root www/instagram-clone;
		index index.html index.htm;

		error_page 404 /404.html;
		error_page 403 /403.html;
		error_page 500 502 503 504 /50x.html;

		location / {
			limit_except GET;
			return 301 /home.py;
		}

		location /cgi/cookie_check_cgi {
			cgi ./www/instagram-clone/cgi/cookie_check_cgi;
		}

		location /home.py {
			# cgi .py /Users/sebasnadu/.pyenv/shims/python;
			cgi .py /usr/bin/python3;
			# cgi .py /sgoinfre/goinfre/Perso/denizozd/homebrew/bin/python3;
			# cgi .py /sgoinfre/goinfre/Perso/jmigoya-/homebrew/bin/python3;
		}

		location /css {
		}

		location /cgi/login_cgi {
			cgi ./www/instagram-clone/cgi/login_cgi;
		}

		location /cgi {
				# cgi .py /Users/sebasnadu/.pyenv/shims/python;
				cgi .py /usr/bin/python3;
				# cgi .py /sgoinfre/goinfre/Perso/denizozd/homebrew/bin/python3;
				upload_store ./www/instagram-clone/upload;
				# return /home.py;
		}

		# Define a location that uses CGI scripts.
		location /cgi/delete_cgi {
				cgi ./www/instagram-clone/cgi/delete_cgi;
		}

		location /upload {
			limit_except POST GET DELETE;
		}
	}
}
