# WebSev - Web Server Configuration
# This file is used to configure the web server.

# [Optional] Define the number of workers(threads) to use.
worker_processes auto;

# [Optional] Define the level of logging to use that is displayed in the terminal.
# Levels: debug, info, warn, error
error_log debug;

events {
		# [Optional] Define the maximum number of connections that can be opened by a worker.
    worker_connections 1024;
}

http {
		# Config of one server.
    server {
				# [Required] Define the port to listen on. If not defined, the default is 80.
				# Its possible to define more than one port to listen on.
        listen 8080;
        listen 8181;
        listen 80;

				# [Required] Define the server name. This can be a domain or an IP address. If not defined, the default is localhost.
        server_name example.com www.example.com;

				# [Optional] Define the maximum size of the client request body, to this server.
				# If not defined, the default is 1MB(1048576 bytes).
				client_max_body_size 1000000000;

				# [Optional] Define the root directory of the server. If not defined, the default is ./www.
        root ../www/website;

				# [Optional] Define the index files to use. If not defined, the default is index.html.
        index index.html index.htm;

				# [Optional] Define the error page to use when a one or a group of errors occurs.
				error_page 404 /404.html;
				error_page 500 502 503 504 /5xx.html;

				# [Optional] Define the location of the error page and some internal configurations.
				# location /404.html {

				# }

				# Location define the behavior of the server when a request is made, based on the path.
        location / {
          # [Optional] Define which method(s) are allowed to access this location.
					limit_except GET;
        }

        # Redirection configuration
				location /some-images/ {
						# Static files location
						root /;
#           # [Optional] Enable autoindex to show the files in the directory.
						autoindex on;
				}

        # Define a location that uses CGI scripts.
				location /with-cgi {
						# Redife the root directory for this location.
						root /;
						# Define the CGI script extension and the interpreter to use.
						cgi .py /usr/bin/python3;
				}

				# Define a location to upload files.
				location /upload/ {
					limit_except POST;
					# Define the path to save the uploaded files.
					upload_store /var/www/uploads;
				}

				# HTTP Redirection example
        location /old-page {
            return 301 /new-page;
        }

    }
}
