body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	text-align: center;
	width: 80%;
	max-width: 600px;
}

h1 {
	margin-bottom: 20px;
}

.photo-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photo-grid img {
	max-width: 100px;
	margin: 5px;
	border-radius: 4px;
}

form {
	margin-bottom: 20px;
}

input[type="file"] {
	margin-bottom: 10px;
}

button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#time-display {
	margin-top: 20px;
	font-size: 1.2em;
	color: #333;
}
